.container {
    margin: 0;
    width: 380px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}

.container .title {
    margin: 0 auto;
    font-size: 45px;    
    font-weight: 9000;
    text-align: center;
    line-height: 100px;
    color: #fff;
    user-select: none;
    border-radius: 10px 15px 0px 0px;
    background: linear-gradient(90deg, #c850c0, #4158d0);
  
    
}